<h1>Toner Yields</h1>
<% @toners.each do |toner| %>

<div class="tonerinfo">
<h2><%= toner.name %> :: <%= link_to toner.yield, edit_toner_path(toner) %></h2>

<ul>
	<% toner.machines.each do |machine|  %>
		<li><%= machine.model %></li>
	<%end %>
</ul>
</div>
<% end %>