<!DOCTYPE html>
<html>
<head>
  <title>Toneryield</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <script type="text/javascript">
	$(document).ready(function() {
	
	});
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
